
<footer class="footer  py-3 bg-dark text-white   fixed-bottom">
    <div class="container text-center ">Library Management Application | Typescript | Express | mongodb | bootstrap
    </div>
</footer>
</body>
</html>